<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C.O.R.O.A (W.I.P)</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body onresize="mudarTamanho()">
    <header>
        <div class="logo">
            <img src="assets/COROA.png" alt="Logo do COROA">
            <h1>{{ 'c . o . r . o . a' | uppercase }}</h1>
        </div>
    </header>
    <main class="coroamain">
        <section>
            <h1>Quem somos?</h1>
            <p class="subtext">
                O {{ 'c.o.r.o.a' | uppercase }} é um aplicativo voltado para o cuidado com relação a
                saúde do idoso, ajudando em diversos aspectos do seu dia a dia
                através de diversas funcionalidades que auxiliam no seu cuidado diário!
            </p>
            <ul> <!-- Lista de Funcionalidades -->
                <p class="caption">Algumas de nossas funcionalidades:</p>
                <li>Alarmes/Notificações para medicações</li>
                <li>Contato direto do cuidador com o idoso</li>
                <li>Consultas virtuais com médicos</li>
                <li>Dicas de cuidado e alimentação personalizadas</li>
                <li>Relatórios diários sobre sua rotina</li>
                <li>Contato direto com o familiar do paciente</li>
            </ul>
        </section>
    </main>
    <!-- Footer utilizado para links extras -->
    <footer appTextColor> <!-- O 'appTextColor' está mudando a cor do texto do footer para branco -->
        <div class="footerdiv">
            <img src="assets/COROA-nofill.png" alt="Logo do C.O.R.O.A">
            <div class="firstcol">
                <a [routerLink]="['/home']">
                    <p class="firstrow">Privacidade</p>
                </a>
                <a href="#">
                    <p class="thirdrow">Acessibilidade</p>
                </a>
                <a href="mailto:coroahealth@gmail.com">
                    <p class="thirdrow">Entre em contato</p>
                </a>
            </div>
        </div>
        <p style="padding-top: 10px; text-align: center;">
			Rua Guilherme Pinto, 114 - Graças, Recife-PE
		</p>
        <p style="text-align: center; font-weight: bold;">
          &copy; 2023 C.O.R.O.A Health
        </p>
      </footer>
      <script src="scripts/scriptgeneral.js"></script>
</body>

</html>