@charset "UTF-8";

:root{
    --primarypurple: #741b47; /* Cor primária da página */
    --primarysalmon: #ffc9ab; /* Cor secundária da página */
    --secondarysalmon: #fff2eb; /* Cor terciária da página */

    --primaryfont: 'Noto Serif', serif; /* Fonte primária */
}

main{
    text-align: center;
}

p.subtext{
    font-size: 2em;
    margin: 30px 30px;
}

nav{
    text-align: left;
}

main > section{
    padding-bottom: 50px;
}

main > section > ul{ /* Declaração para montagem da lista de funcionalidades com um design limpo e acessível */
    width: 550px;
    padding: 25px;
    color: #ffff;
    background-color: var(--primarypurple);
    text-align: left;
    font-size: 1.5em;
    margin:auto;
    border-radius: 10px;
}

ul li{
    margin: 20px 20px;
}