@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root{ /* Raiz do código para armazenamento de cores, fontes, etc */
    --primarypurple: #741b47;
    --primarysalmon: #ffc9ab;
    --secondarysalmon: #fff2eb;

    --primaryfont: 'Noto Serif', serif;
}

main{
    text-align: center;
}

div.withAside{
    display: flex;
    justify-content: center;
    padding: 20px;
}

img#imgCellphone{

    margin-top: 50px;
    width: 100%;
    display: inline;
}

div#asidetext{
    align-self: center;
    margin-top: 50px;
}

p#titlefromaside{
    font-size: 4em;
    padding: 5px;
}

p#subtitlefromaside{
    font-size: 1.8em;
    padding: 5px;
}

div#asidetext > p#textfromaside{
    font-size: 1.2em;
    font-weight: lighter;
}